border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

gradient-bg(start, end)
	background -webkit-gradient(linear, 0 0, 0 bottom, from(start), to(end))
	background -moz-linear-gradient(top, start, end)
	background -o-linear-gradient(top, start, end)

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments

//ddddd