black = #3c3c3c
lightBlack = #cacaca

purple = #9061c2
lightPurple = #d1b2f2 

blue = #327ccb
lightBlue = #569de8

gray = #dddbdb
darkGray = #6d6867
lightGray = #f6f3f0

cyan = #18809D

darkWhite = #ccc

