body{font-size:14px;background-color:#18809d;color:#6d6867;font-family:'Microsoft Yahei','微软雅黑','宋体','Helvetica Neue',Helvetica Arial,sans-serif;letter-spacing:.1em}
h2{font-size:24px;text-align:center;color:#ccc}
.clearfix:after{content:'.';height:0;visibility:hidden;display:block;clear:both}
#chat-box{width:680px;margin:0 auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #dddbdb;background-color:#f6f3f0;padding:10px;-webkit-box-shadow:0 0 5px 5px #cacaca;-moz-box-shadow:0 0 5px 5px #cacaca;position:relative;z-index:2;}
#chat-box #count{padding:3px 0;text-indent:1em;width:180px;text-align:left;right:0;position:absolute}
#send-box{width:664px;height:80px;padding:5px 8px;resize:none;border:none;border-top:2px solid #6d6867;outline:none}
#messages-box{width:100%;height:400px;padding-top:5px;overflow-y:scroll;background-color:#fff;}
#messages-box .message{padding:3px 4px 4px 4px;clear:both;margin:0 5px 4px 5px;border:1px solid #dddbdb;-webkit-box-shadow:0 0 1px 1px #cacaca;-moz-box-shadow:0 0 1px 1px #cacaca;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#3c3c3c;}
#messages-box .message.blue{background:-webkit-gradient(linear,0 0,0 bottom,from(#327ccb),to(#569de8));background:-moz-linear-gradient(top,#327ccb,#569de8);background:-o-linear-gradient(top,#327ccb,#569de8)}
#messages-box .message.purple{background:-webkit-gradient(linear,0 0,0 bottom,from(#9061c2),to(#d1b2f2));background:-moz-linear-gradient(top,#9061c2,#d1b2f2);background:-o-linear-gradient(top,#9061c2,#d1b2f2)}
.left{float:left}
.right{float:right}
#canvas{position:fixed;left:0;top:0;z-index:1}
